@font-face {
    font-family: 'BEERNOTE';
    src: url(BEERNOTE.ttf) format('truetype');
}

.navbar{
    font-family: BEERNOTE;
    width: 100%;
}

h1{
    margin-top: -2% !important;
}

#text{
    align-content: center;
}

.btn{
    border: 2px solid whitesmoke !important;
}

.btn:hover{
    background-color: #dc3545 !important;
    border-radius: 1rem !important;
}