@font-face {
    font-family: 'BEERNOTE';
    src: url(BEERNOTE.ttf) format('truetype');
}

.navbar{
    font-family: BEERNOTE;
    position: sticky;
}

.navbar-brand{
    max-height: fit-content !important;
    max-width: fit-content !important;
    font-size: 250% !important;
}

.navbar-brand:hover{
    font-size: 270% !important;
    transition: 0.6s;
}

.head{
    animation: fadeIn 1.6s !important;
}

h1{
    margin-top: -2% !important;
    font-family: BEERNOTE !important;
    font-size: 320% !important;
}

h2{
    font-family: BEERNOTE !important;
    font-size: 300% !important; 
}

.head{
    animation: fadeIn 1.6s !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}