@font-face {
    font-family: 'BEERNOTE';
    src: url(BEERNOTE.ttf) format('truetype');
}

.navbar{
    font-family: BEERNOTE;
    position: sticky;
}

.navbar-brand{
    max-height: fit-content !important;
    max-width: fit-content !important;
    font-size: 250% !important;
}

.navbar-brand:hover{
    font-size: 270% !important;
    transition: 0.6s;
}

.head{
    animation: fadeIn 1.6s !important;
}

h1{
    margin-top: -3% !important;
    font-family: BEERNOTE !important;
    font-size: 320% !important;
}

h2{
    font-family: BEERNOTE !important;
    font-size: 300% !important; 
}

#text{
    align-content: center;
    position: relative;
    width: auto;
}

.btn{
    border: 2px solid whitesmoke !important;
}

.btn:hover{
    background-color: #dc3545 !important;
    border-radius: 1rem !important;
}

.list-group{
    border: none;
    width: 32% !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}