@font-face {
    font-family: 'Beernote';
    src: url('BEERNOTE.ttf') format('truetype');
}

.container-fluid{
    background-color: crimson;
    margin-top: -0.7%;
}

.navbar-brand{
    padding-left: 2%;
    font-family: Beernote;
    font-size: 100%;
}
