@font-face {
    font-family: 'BEERNOTE';
    src: url(BEERNOTE.ttf) format('truetype');
}

.breadcrumb{
    font-family: BEERNOTE;
    font-size: 30px;
    color: black;
}

.navbar{
    font-family: BEERNOTE;
}

.jumbotron{
    height: 50%;
    font-family: BEERNOTE;
}
