@font-face {
    font-family: 'BEERNOTE';
    src: url(BEERNOTE.ttf) format('truetype');
}

.navbar{
    font-family: BEERNOTE;
    position: sticky;
}

.navbar-brand{
    max-height: fit-content !important;
    max-width: fit-content !important;
}

.navbar-brand:hover{
    background-color: #28a745;
    border: 1px solid whitesmoke;
    border-radius: 5rem !important;
    width: calc(100% + 3rem);
}

h1{
    margin-top: -2% !important;
    font-family: BEERNOTE !important;
    font-size: 320% !important;
}

h2{
    font-family: BEERNOTE !important;
    font-size: 300% !important; 
}

.card{
    border: 1px solid whitesmoke !important;
    background-color: transparent !important;
}