@font-face {
    font-family: 'BEERNOTE';
    src: url(BEERNOTE.ttf) format('truetype');
}

.navbar{
    font-family: BEERNOTE;
}

h1{
    margin-top: -2% !important;
}

.jumbotron{
    height: 100px;
    
}

#chumbo{
    background-image: url(mediterraneancuisine.jpg);
    height: 100%;
    background-size:cover;
}

#success{
    background-color: rgba(40, 167, 69, 1);
}

